/* dashboard admin */
.root {
  position: relative;
  width: 1366px;
  height: 768px;
  background-color: #fafafa;
}

.root .groups {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 768px;
}

.root .image {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 231px;
  height: 7px;
  object-fit: cover;
}

.root .img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 1366px;
  height: 768px;
  object-fit: cover;
}

.root .div {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 1220px;
  height: 768px;
}

.root .groups-2 {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 1092px;
  height: 246px;
}

.root .text-wrapper {
  position: absolute;
  right: 100px;
  bottom: 42px;
  width: 26px;
  height: 19px;
  display: flex;
  align-items: center;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #858584;
  font-size: 17px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.root .text-wrapper-2 {
  position: absolute;
  right: 190px;
  bottom: 43px;
  width: 39px;
  height: 18px;
  display: flex;
  align-items: center;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #858583;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.root .text-wrapper-3 {
  position: absolute;
  right: 290px;
  bottom: 43px;
  width: 36px;
  height: 19px;
  display: flex;
  align-items: center;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #848482;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.root .aleh {
  position: absolute;
  right: 378px;
  bottom: 43px;
  width: 45px;
  height: 18px;
  display: flex;
  align-items: center;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #878685;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.root .mun {
  position: absolute;
  right: 486px;
  bottom: 43px;
  width: 34px;
  height: 19px;
  display: flex;
  align-items: center;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #898887;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.root .mug {
  position: absolute;
  right: 584px;
  bottom: 43px;
  width: 34px;
  height: 18px;
  display: flex;
  align-items: center;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #858482;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.root .muo {
  position: absolute;
  right: 681px;
  bottom: 43px;
  width: 35px;
  height: 18px;
  display: flex;
  align-items: center;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #828180;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.root .hch {
  position: absolute;
  right: 779px;
  bottom: 43px;
  width: 34px;
  height: 18px;
  display: flex;
  align-items: center;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #848482;
  font-size: 17px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.root .mot {
  position: absolute;
  right: 877px;
  bottom: 43px;
  width: 33px;
  height: 18px;
  display: flex;
  align-items: center;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #858583;
  font-size: 17px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.root .text-wrapper-4 {
  position: absolute;
  right: 976px;
  bottom: 42px;
  width: 30px;
  height: 19px;
  display: flex;
  align-items: center;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #898988;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.root .text-wrapper-5 {
  position: absolute;
  right: 1031px;
  bottom: 66px;
  width: 30px;
  height: 18px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #8a8a88;
  font-size: 17px;
  white-space: nowrap;
  display: flex;
  align-items: center;
  letter-spacing: 0;
  line-height: normal;
}

.root .text-wrapper-6 {
  position: absolute;
  right: 1032px;
  bottom: 100px;
  width: 30px;
  height: 19px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #898986;
  font-size: 14px;
  display: flex;
  align-items: center;
  letter-spacing: 0;
  line-height: normal;
}

.root .image-2 {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 960px;
  height: 126px;
  object-fit: cover;
}

.root .text-wrapper-7 {
  position: absolute;
  right: 1032px;
  bottom: 135px;
  width: 29px;
  height: 18px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #848482;
  font-size: 14px;
  display: flex;
  align-items: center;
  letter-spacing: 0;
  line-height: normal;
}

.root .text-wrapper-8 {
  position: absolute;
  right: 1031px;
  bottom: 169px;
  width: 29px;
  height: 18px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #8c8c8b;
  font-size: 18px;
  white-space: nowrap;
  display: flex;
  align-items: center;
  letter-spacing: 0;
  line-height: normal;
}

.root .junbim-kelugan-p {
  position: absolute;
  right: 721px;
  bottom: 195px;
  width: 348px;
  height: 27px;
  display: flex;
  align-items: center;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #626160;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.root .background {
  position: absolute;
  right: 60px;
  bottom: 248px;
  width: 1013px;
  height: 3px;
  background-color: #f7f7f7;
}

.root .groups-3 {
  position: absolute;
  right: 1px;
  bottom: 248px;
  width: 1091px;
  height: 39px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 774px;
}

.root .text-wrapper-9 {
  justify-content: center;
  margin-bottom: 12px;
  width: 21px;
  height: 19px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #8b8b8a;
  font-size: 15px;
  text-align: center;
  display: flex;
  align-items: center;
  letter-spacing: 0;
  line-height: normal;
}

.root .button {
  all: unset;
  box-sizing: border-box;
  margin-bottom: 6px;
  width: 87px;
  height: 29px;
  position: relative;
  margin-right: 176px;
}

.root .background-2 {
  position: absolute;
  right: 1px;
  bottom: 1px;
  width: 84px;
  height: 25px;
  background-color: #858789;
  border-radius: 10.5px;
  border: 1px solid;
  border-color: #b5b6b7;
}

.root .text-wrapper-10 {
  position: absolute;
  right: 13px;
  bottom: 6px;
  width: 58px;
  height: 17px;
  display: flex;
  align-items: center;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #cccdcd;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.root .button-2 {
  all: unset;
  box-sizing: border-box;
  position: absolute;
  right: 177px;
  bottom: 294px;
  width: 87px;
  height: 28px;
}

.root .background-3 {
  position: absolute;
  right: 1px;
  bottom: 1px;
  width: 84px;
  height: 25px;
  background-color: #f58517;
  border-radius: 10px;
  border: 1px solid;
  border-color: #f77f14;
}

.root .text-wrapper-11 {
  bottom: 4px;
  color: #eed2ad;
  position: absolute;
  right: 14px;
  width: 57px;
  height: 18px;
  display: flex;
  align-items: center;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.root .text-wrapper-12 {
  position: absolute;
  right: 1038px;
  bottom: 300px;
  width: 21px;
  height: 19px;
  justify-content: center;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #8b8c8a;
  font-size: 18px;
  text-align: center;
  white-space: nowrap;
  display: flex;
  align-items: center;
  letter-spacing: 0;
  line-height: normal;
}

.root .button-3 {
  all: unset;
  box-sizing: border-box;
  position: absolute;
  right: 177px;
  bottom: 333px;
  width: 87px;
  height: 29px;
}

.root .background-4 {
  position: absolute;
  right: 1px;
  bottom: 1px;
  width: 84px;
  height: 26px;
  background-color: #f48316;
  border-radius: 11px;
  border: 1px solid;
  border-color: #f78321;
}

.root .text-wrapper-13 {
  bottom: 5px;
  color: #edd2ac;
  position: absolute;
  right: 14px;
  width: 57px;
  height: 18px;
  display: flex;
  align-items: center;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.root .text-wrapper-14 {
  position: absolute;
  right: 1042px;
  bottom: 340px;
  width: 12px;
  height: 18px;
  justify-content: center;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #757574;
  font-size: 17px;
  text-align: center;
  white-space: nowrap;
  display: flex;
  align-items: center;
  letter-spacing: 0;
  line-height: normal;
}

.root .button-4 {
  all: unset;
  box-sizing: border-box;
  position: absolute;
  right: 176px;
  bottom: 373px;
  width: 88px;
  height: 29px;
}

.root .background-5 {
  position: absolute;
  right: 2px;
  bottom: 1px;
  width: 84px;
  height: 26px;
  background-color: #f10a04;
  border-radius: 10.75px;
  border: 1px solid;
  border-color: #d82f2e;
}

.root .tinghi {
  position: absolute;
  right: 18px;
  bottom: 4px;
  width: 50px;
  height: 20px;
  display: flex;
  align-items: center;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #fcc3c3;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.root .text-wrapper-15 {
  position: absolute;
  right: 1042px;
  bottom: 380px;
  width: 12px;
  height: 18px;
  justify-content: center;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #6f6f70;
  font-size: 16px;
  text-align: center;
  white-space: nowrap;
  display: flex;
  align-items: center;
  letter-spacing: 0;
  line-height: normal;
}

.root .image-3 {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 756px;
  height: 37px;
  object-fit: cover;
}

.root .groups-4 {
  position: absolute;
  right: 10px;
  bottom: 404px;
  width: 1083px;
  height: 41px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.root .button-5 {
  all: unset;
  box-sizing: border-box;
  margin-bottom: 3px;
  width: 255px;
  height: 37px;
  position: relative;
  margin-right: 90px;
}

.root .background-6 {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 252px;
  height: 36px;
  background-color: #586168;
  border-radius: 3px 0px 0px 0px;
  border: 1px solid;
  border-color: #6f757b;
}

.root .background-7 {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 4px;
  height: 35px;
  object-fit: cover;
}

.root .ID-kelugan {
  position: absolute;
  right: 81px;
  bottom: 7px;
  width: 90px;
  height: 21px;
  display: flex;
  align-items: center;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #bbbec1;
  font-size: 17px;
  letter-spacing: 0;
  line-height: normal;
}

.root .pelagar {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  width: 64px;
  height: 21px;
  margin-right: 188px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #b9bcbe;
  font-size: 17px;
  letter-spacing: 0;
  line-height: normal;
}

.root .text-wrapper-16 {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  width: 64px;
  height: 21px;
  margin-right: 185px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #b7babc;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.root .text-wrapper-17 {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  width: 76px;
  height: 20px;
  margin-right: 141px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #b3b7b9;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.root .groups-5 {
  position: absolute;
  right: 0;
  bottom: 434px;
  width: 1366px;
  height: 334px;
}

.root .kelugan-mendesak {
  position: absolute;
  right: 893px;
  bottom: 23px;
  width: 177px;
  height: 25px;
  display: flex;
  align-items: center;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #666564;
  font-size: 19px;
  letter-spacing: 0;
  line-height: normal;
}

.root .button-6 {
  position: absolute;
  right: 58px;
  bottom: 71px;
  width: 247px;
  height: 120px;
}

.root .background-8 {
  position: absolute;
  right: 4px;
  bottom: 4px;
  width: 238px;
  height: 111px;
  background-color: #e98583;
  border-radius: 9px;
  border: 1px solid;
  border-color: #e4a09e;
}

.root .text-wrapper-18 {
  position: absolute;
  right: 109px;
  bottom: 27px;
  width: 27px;
  height: 36px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #412625;
  font-size: 40px;
  white-space: nowrap;
  display: flex;
  align-items: center;
  letter-spacing: 0;
  line-height: normal;
}

.root .melewat-SLA {
  position: absolute;
  right: 55px;
  bottom: 74px;
  width: 109px;
  height: 22px;
  display: flex;
  align-items: center;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #733f3c;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.root .button-7 {
  position: absolute;
  right: 314px;
  bottom: 70px;
  width: 248px;
  height: 121px;
}

.root .background-9 {
  position: absolute;
  right: 4px;
  bottom: 5px;
  width: 239px;
  height: 111px;
  background-color: #8dcea8;
  border-radius: 7px;
  border: 1px solid;
  border-color: #add9c0;
}

.root .text-wrapper-19 {
  position: absolute;
  right: 97px;
  bottom: 25px;
  width: 52px;
  height: 42px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #23332b;
  font-size: 38px;
  white-space: nowrap;
  display: flex;
  align-items: center;
  letter-spacing: 0;
  line-height: normal;
}

.root .selasi {
  position: absolute;
  right: 92px;
  bottom: 75px;
  width: 66px;
  height: 22px;
  display: flex;
  align-items: center;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #456953;
  font-size: 17px;
  letter-spacing: 0;
  line-height: normal;
}

.root .groups-6 {
  position: absolute;
  right: 571px;
  bottom: 71px;
  width: 248px;
  height: 120px;
}

.root .background-10 {
  position: absolute;
  right: 5px;
  bottom: 4px;
  width: 237px;
  height: 111px;
  background-color: #81bee6;
  border-radius: 7px;
  border: 1px solid;
  border-color: #a4cce5;
}

.root .text-wrapper-20 {
  position: absolute;
  right: 97px;
  bottom: 24px;
  width: 50px;
  height: 42px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #283a47;
  font-size: 44px;
  white-space: nowrap;
  display: flex;
  align-items: center;
  letter-spacing: 0;
  line-height: normal;
}

.root .dalim-penanganan {
  position: absolute;
  right: 34px;
  bottom: 73px;
  width: 167px;
  height: 25px;
  display: flex;
  align-items: center;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #3e5d73;
  font-size: 17px;
  letter-spacing: 0;
  line-height: normal;
}

.root .groups-7 {
  position: absolute;
  right: 828px;
  bottom: 71px;
  width: 248px;
  height: 120px;
}

.root .background-11 {
  position: absolute;
  right: 4px;
  bottom: 4px;
  width: 239px;
  height: 111px;
  background-color: #f4d882;
  border-radius: 9px;
  border: 1px solid;
  border-color: #f2e0a4;
}

.root .text-wrapper-21 {
  position: absolute;
  right: 96px;
  bottom: 25px;
  width: 53px;
  height: 40px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #3a3320;
  font-size: 40px;
  white-space: nowrap;
  display: flex;
  align-items: center;
  letter-spacing: 0;
  line-height: normal;
}

.root .menunggu-verific {
  position: absolute;
  right: 0;
  bottom: 73px;
  width: 205px;
  height: 25px;
  display: flex;
  align-items: center;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #7a693f;
  font-size: 17px;
  letter-spacing: 0;
  line-height: normal;
}

.root .sipmas-dashboard {
  position: absolute;
  right: 314px;
  bottom: 230px;
  width: 633px;
  height: 63px;
  display: flex;
  align-items: center;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #505862;
  font-size: 48px;
  letter-spacing: 0;
  line-height: normal;
}

.root .groups-8 {
  position: absolute;
  right: 1098px;
  bottom: 3px;
  width: 214px;
  height: 639px;
}

.root .background-12 {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 208px;
  height: 631px;
  object-fit: cover;
}

.root .background-wrapper {
  position: absolute;
  right: 1px;
  bottom: 0;
  width: 208px;
  height: 471px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.root .background-13 {
  width: 206px;
  height: 471px;
  background-color: #133f64;
}

.root .groups-9 {
  position: absolute;
  right: 0;
  bottom: 360px;
  width: 209px;
  height: 274px;
}

.root .groups-10 {
  position: absolute;
  right: 1px;
  bottom: 55px;
  width: 204px;
  height: 53px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  gap: -133px;
}

.root .image-4 {
  width: 20px;
  height: 23px;
  object-fit: cover;
}

.root .text-wrapper-22 {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  width: 67px;
  height: 21px;
  margin-right: 66px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #839aac;
  font-size: 17px;
  letter-spacing: 0;
  line-height: normal;
}

.root .groups-11 {
  position: absolute;
  right: 0;
  bottom: 109px;
  width: 207px;
  height: 43px;
}

.root .background-14 {
  position: absolute;
  right: 1px;
  bottom: 1px;
  width: 205px;
  height: 41px;
  background-color: #487091;
  border: 1px solid;
  border-color: #426989;
}

.root .image-5 {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 22px;
  height: 21px;
  object-fit: cover;
}

.root .keluban {
  position: absolute;
  right: 67px;
  bottom: 13px;
  width: 67px;
  height: 20px;
  display: flex;
  align-items: center;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #9aafc1;
  font-size: 17px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.root .text-wrapper-23 {
  position: absolute;
  right: 66px;
  bottom: 172px;
  width: 68px;
  height: 19px;
  display: flex;
  align-items: center;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #869cad;
  font-size: 17px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.root .group {
  position: absolute;
  top: 236px;
  left: 37px;
  width: 139px;
  height: 22px;
  display: flex;
  justify-content: space-between;
}

.root .box-arrow-right {
  margin-top: 1px;
  width: 20px;
  height: 20px;
  position: relative;
}

.root .vector {
  position: absolute;
  width: 100%;
  height: 87.50%;
  top: 12.50%;
  left: 0;
}

.root .vector-2 {
  position: absolute;
  width: 68.75%;
  height: 71.88%;
  top: 28.12%;
  left: 31.25%;
}

.root .pengaturan {
  display: flex;
  align-items: center;
  align-self: flex-end;
  width: 99px;
  height: 22px;
  margin-right: 2px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #7a7a7a;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.root .element-removebg {
  position: absolute;
  top: 131px;
  left: 90px;
  width: 156px;
  height: 87px;
  aspect-ratio: 1.79;
  object-fit: cover;
}