<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<meta charset="utf-8" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/globals.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<div class="root" ><div class="groups" ><img class="image" src="{{ url_for('static', filename='img/image-7.png') }}" />
<img class="img" src="{{ url_for('static', filename='img/image-3.png') }}" /></div>
<div class="div" ><div class="groups-2" ><div class="text-wrapper" >Bio</div>
<div class="text-wrapper-2" >Moin</div>
<div class="text-wrapper-3" >Wek</div>
<div class="aleh" >Ming</div>
<div class="mun" >Sab</div>
<div class="mug" >Jum</div>
<div class="muo" >Kam</div>
<div class="hch" >Rab</div>
<div class="mot" >Sel</div>
<div class="text-wrapper-4" >Sen</div>
<div class="text-wrapper-5" >100</div>
<div class="text-wrapper-6" >300</div>
<img class="image-2" src="{{ url_for('static', filename='img/image.png') }}" />
<div class="text-wrapper-7" >240</div>
<div class="text-wrapper-8" >110</div>
<div class="junbim-kelugan-p" >Jumlah keluhan per Minggu</div></div>
<div class="background" ></div>
<div class="groups-3" ><div class="text-wrapper-9" >20</div>
<button class="button" ><div class="background-2" ></div>
<div class="text-wrapper-10" >Rendah</div></button></div>
<button class="button-2" ><div class="background-3" ></div>
<div class="text-wrapper-11" >Sedang</div></button>
<div class="text-wrapper-12" >10</div>
<button class="button-3" ><div class="background-4" ></div>
<div class="text-wrapper-13" >Sedang</div></button>
<div class="text-wrapper-14" >6</div>
<button class="button-4" ><div class="background-5" ></div>
<div class="tinghi" >Tinggi</div></button>
<div class="text-wrapper-15" >4</div>
<img class="image-3" src="{{ url_for('static', filename='img/image-6.png') }}" />
<div class="groups-4" ><button class="button-5" ><div class="background-6" ></div>
<img class="background-7" src="{{ url_for('static', filename='img/background-2.png') }}" />
<div class="ID-kelugan" >ID Keluhan</div></button>
<div class="pelagar" >Pelapor</div>
<div class="text-wrapper-16" >Tetagar</div>
<div class="text-wrapper-17" >Prioritias</div></div></div>
<div class="groups-5" ><div class="kelugan-mendesak" >Keluhan Mendesak</div>
<div class="button-6" ><div class="background-8" ></div>
<div class="text-wrapper-18" >5</div>
<div class="melewat-SLA" >Lewat SLA</div></div>
<div class="button-7" ><div class="background-9" ></div>
<div class="text-wrapper-19" >89</div>
<div class="selasi" >Selesai</div></div>
<div class="groups-6" ><div class="background-10" ></div>
<div class="text-wrapper-20" >17</div>
<div class="dalim-penanganan" >Dalam Penanganan</div></div>
<div class="groups-7" ><div class="background-11" ></div>
<div class="text-wrapper-21" >24</div>
<div class="menunggu-verific" >Menunggu Verification</div></div>
<div class="sipmas-dashboard" >Dashboard Petugas</div></div>
<div class="groups-8" ><img class="background-12" src="{{ url_for('static', filename='img/background.png') }}" />
<div class="background-wrapper" ><div class="background-13" ></div></div>
<div class="groups-9" ><div class="groups-10" ><img class="image-4" src="{{ url_for('static', filename='img/image-4.png') }}" />
<div class="text-wrapper-22" >Laporan</div></div>
<div class="groups-11" ><div class="background-14" ></div>
<img class="image-5" src="{{ url_for('static', filename='img/image-2.png') }}" />
<div class="keluban" >Keluhan</div></div>
<div class="text-wrapper-23" >Beranda</div>
<img class="image-5" src="{{ url_for('static', filename='img/image-5.png') }}" />
<div class="group" ><div class="box-arrow-right" ><img class="vector" src="{{ url_for('static', filename='img/image.svg') }}" />
<img class="vector-2" src="{{ url_for('static', filename='img/vector.svg') }}" /></div>
<div class="pengaturan" >Keluar</div></div></div></div>
<img class="element-removebg" src="{{ url_for('static', filename='img/1775619391-removebg-preview-3.png') }}" /></div>
</body>
</html>