<div class="dashboard">

<div class="sidebar">
    <h3>SipMas</h3>
    <p><a href="/dashboard_user">Beranda</a></p>
    <p><a href="/tambah">Form Pengaduan</a></p>
    <p><a href="/logout">Keluar</a></p>
</div>

<div class="content">
    <h2>Dashboard Masyarakat</h2>

    <div class="card-box">
        <div class="box">Total</div>
        <div class="box">Proses</div>
        <div class="box">Selesai</div>
    </div>

    <table border="1" width="100%">
        <tr>
            <th>Judul</th>
            <th>Status</th>
        </tr>

        {% for d in data %}
        <tr>
            <td>{{ d[3] }}</td>
            <td><span class="status {{ d[7] }}">{{ d[7] }}</span></td>
        </tr>
        {% endfor %}
    </table>

</div>
</div>